main {
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 40px;
}

.subtitle {
  font-weight: 500;
  font-size: 16px;
}

.input-item {
  display: block;
  font-weight: 500;
  font-size: 14;
}

.input-field,
.consent {
  width: 100%;
  font-weight: 600;
  font-size: 16px;
}

.button {
  font-weight: 700;
  font-size: 20px;
}

@media only screen and (min-width: 850px) {
  main {
    max-width: 810px;
  }

  .title {
    font-size: 64px;
  }

  .subtitle {
    font-size: 32px;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name email"
      "size subject"
      "message message"
      "consent consent"
      "button button";
    gap: 18px;
    padding: 32px;
  }

  .name {
    grid-area: name;
  }

  .email {
    grid-area: email;
  }

  .size {
    grid-area: size;
  }

  .subject {
    grid-area: subject;
  }

  .message {
    grid-area: message;
  }

  .consent {
    grid-area: consent;
  }

  .button {
    grid-area: button;
  }
}
