.header {
  margin: 20px auto 0 auto;
  width: 96%;
}

.header img {
  width: 100px;
  height: 30px;
}

.main {
  margin: 44px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96%;
}

.title,
.subtitle,
.form,
.button {
  letter-spacing: -1%;
}

.title,
.subtitle {
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  margin-bottom: 16px;
}

.subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 72px;
}

.form {
  width: 100%;
  padding: 20px 12px;
  gap: 18px;
  display: grid;
  grid-template-columns: 1fr;
}

.input-item {
  display: block;
  font-weight: 500;
  font-size: 14;
  margin-bottom: 6px;
}

.input-field {
  margin-top: 4px;
  padding: 22px;
  height: 68px;
}

.input-field,
.consent {
  width: 100%;
  font-weight: 600;
  font-size: 16px;
}

.message-field {
  height: 206px;
}

.button {
  font-weight: 700;
  font-size: 20px;
  padding: 24px 0;
}

.dropdown {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url(../src/assets/Expand_down.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position-x: 96%;
  background-position-y: 50%;
}

@media only screen and (min-width: 850px) {
  main {
    max-width: 810px;
  }

  .header {
    width: 95%;
  }

  .title {
    font-size: 64px;
    width: 577px;
  }

  .subtitle {
    font-size: 32px;
    width: 641px;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name email"
      "size subject"
      "message message"
      "consent consent"
      "button button";
    padding: 32px;
  }

  .name {
    grid-area: name;
  }

  .email {
    grid-area: email;
  }

  .size {
    grid-area: size;
  }

  .subject {
    grid-area: subject;
  }

  .message {
    grid-area: message;
  }

  .consent {
    grid-area: consent;
  }

  .button {
    grid-area: button;
  }
}
